<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.applicationHost>
        <sites>
            <site name="OnlineShoppingSite" id="1">
                <application path="/" applicationPool="Clr4IntegratedAppPool">
                    <virtualDirectory path="/" physicalPath="C:\Users\anmol\OneDrive\Desktop\shopping2" />
                </application>
                <bindings>
                    <binding protocol="http" bindingInformation="*:50321:localhost" />
                </bindings>
            </site>
        </sites>
    </system.applicationHost>
</configuration> 